{% load static %}
{% load i18n %}
{% load arabic_numbers %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>حسابات البائعين</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="mainnav">
            <div class="main">
                <img src="{% static "images/logo.png" %}" alt="">
                <h1>الصفحة الرئيسية</h1>
            </div>
        </a>
        <a href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
    </header>
<div id="detailwindow" style="width: 50%;">
    <i id="closedetwin" class="fa-solid fa-xmark close"></i>
    <div id="detailcontainer" style="display: flex; justify-content: center;align-items: center;flex-direction: column;"></div>
</div>
    <div class="todayscar">
        <form method ="POST" class="addcar" action="{% url "selleraccounts" %}">
            {% csrf_token %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>

            <div>
                <input name="name" type="text" placeholder="اسم البائع" id="sellername" required >
                <input name="place" type="text" placeholder="المنطقة" style="width: 15%;" >
                <input name="seller_opening_balance" step="0.001" type="number" placeholder="رصيد افتتاحى" style="width: 15%;">
                <input name="date" type="date" placeholder="التاريخ" style="width: 20%;">
            </div>
            <button name="addSeller" type="submit" class="addbtn">اضف بائع</button>
        </form>
        <div class="title">
            <h1>جميع البائعين</h1>
        </div>
        <div class="table">
            <input id="searchbar" type="text" placeholder="ابحث عن البائع">
            <table>
                <thead>
                    <tr>
                        <th>اسم البائع</th>
                        <th>التاريخ</th>
                        <th id="totbtn"> <i class="fa-solid fa-arrow-down-short-wide"></i> عليه</th>
                        <th>المنطقة</th>
                        <th></th>
                        {% if user.first_name == "شبه مسئول" or user.first_name == 'adminName' %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="tablebody">
                    {% for seller in seller  %}
                    <tr>
                        <td id="rowAncor" metadata='{% url "sellerpage" seller.id %}'>{{seller.name}}</td>
                        <td>{{seller.date|date:"20y/m/d"|arabic_numbers}}</td>
                        <td style="display: none;">{{seller.on_him}}</td>
                        <td>{{seller.on_him|arabic_numbers}}</td>
                        <td>{{seller.place}}</td>
                        <td>
                        {% if user.first_name == "شبه مسئول" or user.first_name == "مستخدم متقدم" or user.first_name == 'adminName' %}
                        <button id="editsupplier" class="btn" style="color: #00F000;" metadata=' 
                        {% if user.first_name == "شبه مسئول" or user.first_name == "مستخدم متقدم" or user.first_name == "adminName" %}
                        <i class="fa-solid fa-clock-rotate-left" style="color: #00F000; font-size:150px;padding:10px ;"></i>   
                        <form method ="POST"  class="addcar" action="{% url "sellerupdate" id=seller.id %}">
                            {% csrf_token %}
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        
                                <div>
                                    <input value="{{seller.name}}" name ="name" id="name" type="text" placeholder="اسم العميل" required >
                                    <input value="{{seller.place}}" name = "place" type="text" placeholder="اسم المنطقة" required >
                                    <input value="{{seller.seller_opening_balance}}" step="0.001" name = "seller_opening_balance" type="number" placeholder="الرصيد الافتتاحي">
                                    <input value="{{seller.date|date:"Y-m-d"}}" name = "date" type="date" >
                                </div>
                                <button name="updateSeller" type="submit" class="addbtn">تعديــــــل</button>
                            </form>
                            {% else %}
                                <h1>التعديل غير مفعل</h1>
                            {% endif %}
                        '><i class="fa-regular fa-pen-to-square"></i></button>
                        {% endif %}
                        </td>
                        {% if user.first_name == "شبه مسئول" or user.first_name == 'adminName' %}
                        <td><button id="deletesupplier" class="btn"  style="color: #FF0000;" metadata='
                            {% if user.first_name == "شبه مسئول" or user.first_name == "adminName" %}
                            <h1>هل حقاً تريد حذف البائع "{{seller.name}}"</h1>
                            <h3 style="color:#FF0000;">"سيتم حذف سجل هذا البائع وتحصيلاته"</h3>
                            <br>
                            <i class="fa-regular fa-trash-can" style="color: #ff3333;font-size: 150px;"></i>
                            <br>
                            <form method="POST" class="deleteForm" action="{% url "sellerdelete" id=seller.id %}">
                                {% csrf_token %}
                                <a><button name="deleteSeller" type="submit" class="delete-link" type="submit">حذف</button></a>
                            </form>
                            {% else %}
                            <h1>الحذف غير مفعل</h1>
                        {% endif %}
                        '><i class="fa-solid fa-trash"></i></button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let rowAncor = document.querySelectorAll('#rowAncor')
        rowAncor.forEach((row)=>{
            row.addEventListener('click',()=>{
                const metadata = row.getAttribute('metadata')
                window.location.href = metadata
            })
        })
            window.onload=()=>{
            document.getElementById('sellername').focus();
            }
        let tablebody = document.getElementById('tablebody')
        let searchbar = document.getElementById('searchbar')
        searchbar.onkeyup=()=>{
            let filter = searchbar.value.toUpperCase();
            let tr= tablebody.getElementsByTagName('tr');
                        for(var i=0; i<tr.length; i++){
                            let td = tr[i].getElementsByTagName('td')[0];
                            if(td){
                                let txtvalue = td.textContent;
                                if(txtvalue.toLocaleUpperCase().indexOf(filter)>-1){
                                    tr[i].style.display='';
                                    
                                }else{   
                                    tr[i].style.display='none';
                                }
                            }
                        }
        }
        const tableBody = document.getElementById('tablebody');
        const totbtn = document.getElementById('totbtn'); 
        function sortByPrice(ascending) {
        const rows = Array.from(tableBody.querySelectorAll('tr'));
        // Clone rows to avoid DOM manipulation
        const sortedRows = rows.slice();
        sortedRows.sort((row1, row2) => {
            const weight1 = parseFloat(row1.querySelectorAll('td')[2].textContent.trim());
            const weight2 = parseFloat(row2.querySelectorAll('td')[2].textContent.trim());
            return (weight1 - weight2) * (ascending ? 1 : -1);
        });
        // Clear and re-append sorted rows
        tableBody.innerHTML = '';
        sortedRows.forEach(row => tableBody.appendChild(row));
        }
        let isAscending = true;
        totbtn.addEventListener('click', () => {
        isAscending = !isAscending;
        sortByPrice(isAscending);
        });
        const editcar = document.querySelectorAll('#editsupplier')
        const deletecar = document.querySelectorAll('#deletesupplier')
        const closedetwin = document.getElementById('closedetwin')
        editcar.forEach((btn)=>{
            btn.onclick=()=>{
                const metadata = btn.getAttribute('metadata')
                document.getElementById('detailwindow').style.top='30%'
                document.getElementById('detailwindow').style.visibility='visible'
                document.getElementById('detailwindow').style.transform='scale(1)'
                document.getElementById('detailcontainer').innerHTML=metadata
            }
        })
        deletecar.forEach((btn)=>{
            btn.onclick=()=>{
                const metadata = btn.getAttribute('metadata')
                document.getElementById('detailwindow').style.top='30%'
                document.getElementById('detailwindow').style.visibility='visible'
                document.getElementById('detailwindow').style.transform='scale(1)'
                document.getElementById('detailcontainer').innerHTML=metadata
            }
        })
        closedetwin.addEventListener('click',()=>{
            document.getElementById('detailwindow').style.top='0'
            document.getElementById('detailwindow').style.visibility='hidden'
                document.getElementById('detailwindow').style.transform='scale(0)'
        })
        // Get all date input elements
        const dateInputs = document.querySelectorAll('input[type="date"]');

        // Get today's date
        const today = new Date();

        // Loop through each input and set its value to today's date
        dateInputs.forEach(input => {
        input.value = today.toISOString().split('T')[0];
        });

    </script>

</body>
</html>
