{% load static %}
{% load i18n %}
{% load arabic_numbers %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <title>صفحة العميل</title>
    </head>
    <body>
        <header>
        <a href="{% url 'home' %}" class="mainnav">
            <div class="main">
                <img src="{% static "images/logo.png" %}" alt="">
                <h1>الصفحة الرئيسية</h1>
            </div>
        </a>
        <a href="{% url 'suppliersaccounts' %}"><i class="fa-solid fa-arrow-left"></i></a>
    </header>
    <div class="window" id="printcon">
        <i id="closeprofitcon" class="fa-solid fa-xmark close"></i>
    </div>
    <div class="detailscon">
        <h2> اسم العميل: <span>{{sup.name}}</span></h2>
        <h2>التاريخ : <span>{{sup.date|date:"20y/m/d"|arabic_numbers}}</span></h2>
        {% if sup.balance >= 0  %}
        <h2> لــه : <span>{{sup.balance|arabic_numbers}}</span></h2>
        {% else %}
        <h2 style="color: #FF0000; font-weight: bolder;"> ( عليه رصيد ) : <span style="color: #FF0000; font-weight: bolder;">{{sup.balance|arabic_numbers}}</span></h2>
        {% endif %}
        <a href="{% url "addcontainer" %}" id="sellcar" class="sellingbtn" style="background-color: #00C2F4; text-decoration:none;">اضافة نقلة</a >
        </div>
        <div class="todayscar">
            <div class="title">
                <h1>الفواتير</h1>
            </div>
        <div class="table">
            <!-- <button class="print" id="print">طباعة</button> -->
            <input id="searchbar" type="text" placeholder="ابحث عن يوم معين">
            <div id="kindsinfocon" style="display: none;">
                <i id="closekinds" class="fa-solid fa-xmark close"></i>
                <div id="kindsinfo">
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>رقم النقلة</th>
                        <th>اليوم</th>
                        <th>التاريخ</th>
                        <th>مجموع الاصناف</th>
                        <th>الوزن</th>
                        <th>العدد</th>
                        <th>المبلغ</th>
                        <th>تفاصيل النقلة</th>
                    </tr>
                </thead>
                
                <tbody id="tablebody">
                    {% for container in containers %}
                    <tr>
                        <td>{{ container.date|date:"l" }}</td>
                        <td>{{ container.date|date:"l"|arabic_numbers }}</td>
                        <td>{{container.date|date:"20y/m/d"|arabic_numbers}}</td>
                        <td>{{container.num_of_items|arabic_numbers}}</td>
                        <td>{{container.con_weight|arabic_numbers}} كيلو جرام </td>
                        <td>{{container.main_total_count|arabic_numbers}}</td>
                        <td>{{container.total_sale_price|arabic_numbers}}</td>
                        <td>
                            {% if container.containeritem_set.all%}
                            <i metadata="
                            <table>
                                <thead>
                                    <th>الصنف</th>
                                    <th>العدد</th>
                                    <th>المتبقى</th>
                                    <th>السعر</th>
                                </thead>
                            {%for con in container.containeritem_set.all %}
                                <tbody>
                                    <tr>
                                        <td>{{con.item.name}} </td>
                                        <td>{{con.count|arabic_numbers}} </td>
                                        <td>{{con.remaining_count|arabic_numbers}}</td>
                                        <td>{{con.price|arabic_numbers}} </td>
                                    </tr> 
                                </tbody>
                            {% endfor %}
                            </table>   
                            " class="fa-solid fa-info" id="kindinfo"></i>
                            {%else%}
                            لا يوجد
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                                    
                </tbody>
            </table>
        </div>
    </div>
    <script>
        window.onload=()=>{
            document.getElementById('searchbar').focus();
        }
    // Select all elements with the ID "kindinfo"
    const kindInfoElements = document.querySelectorAll("#kindinfo");
    // Add a click event listener to each element
    kindInfoElements.forEach(element => {
        const metadata = element.getAttribute('metadata')
        element.addEventListener("click", () => {
        console.log(metadata)
        // Find the div with the ID "kindsinfo"
        const kindsInfoDiv = document.getElementById("kindsinfocon");
        const kindsInfo = document.getElementById("kindsinfo");
        kindsInfo.innerHTML = metadata
        // Toggle the visibility of the div
        element.style.background = element.style.background === "#c10" ? "#000" : "#c10";
        kindsInfoDiv.style.display = kindsInfoDiv.style.display === "none" ? "block" : "none";
    });
    });
    const closekindInfoElements = document.querySelectorAll("#closekinds");
    // Add a click event listener to each element
    closekindInfoElements.forEach(element => {
        element.addEventListener("click", () => {
        // Find the div with the ID "kindsinfo"
        const kindsInfoDiv = document.getElementById("kindsinfocon");
        kindsInfoDiv.style.display = kindsInfoDiv.style.display === "none" ? "block" : "none";
    });
    });
        let sellcar=document.getElementById('sellcar')
        let printbtn=document.getElementById('print')
        let printtb = document.querySelector('.table')
        let printcon = document.getElementById('printcon')
        let closeprintcon = document.getElementById('closeprintcon')
        printbtn.onclick=()=>{
            printcon.style.display='flex'
        }
        closeprintcon.onclick=()=>{
            printcon.style.display='none'
        }
        let tablebody = document.getElementById('tablebody')
        let searchbar = document.getElementById('searchbar')
        searchbar.onkeyup=()=>{
            let filter = searchbar.value.toUpperCase();
            let tr= tablebody.getElementsByTagName('tr');
                        for(var i=0; i<tr.length; i++){
                            let td = tr[i].getElementsByTagName('td')[2];
                            if(td){
                                let txtvalue = td.textContent;
                                if(txtvalue.toLocaleUpperCase().indexOf(filter)>-1){
                                    tr[i].style.display='';
                                    
                                }else{   
                                    tr[i].style.display='none';
                                }
                            }
                        }
        }
    </script>
</body>
</html>
